@page "/can-xac-thuc-email-dangky.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực email";
}

<h1>@ViewData["Title"]</h1>
<p>Truy cập vào email của bạn để xác thực tài khoản</p>

