@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thay đổi mật khẩu thành công <a asp-page="./Login">Bấm để đăng nhập</a>.
</p>
